@import 'tailwindcss';

@theme {
  --color-main: #fcf8fc;
  --color-form: #f5eaf7;
  --color-button-primary: #eabaff;
  --color-button-secondary: #e8def8;
  --color-primary: #fdf5ff;
  --color-subtitle: #562c80;
  --color-success: #734f96;
  --color-sidebar: #d6a6f5;
}
